.title-1 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: $font-family-heading;
  background: linear-gradient(180deg, #FFD700 0%, $primary 50%, #8B6914 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.6))
          drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  &.black {
    -webkit-text-fill-color: #222222;
    background: none;
    filter: none;
  }
}

.title-2 {
  font-family: $font-family-base;
  font-weight: light;
  color: #333333;
  font-size: 2.4rem;
  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  a {
    display: block;
  }
}

.title-3 {
  font-family: $font-family-base;
  font-weight: 600;
  color: #2b2b39;
  font-size: 1.9rem;
  letter-spacing: -1px;
  @include media-breakpoint-up(sm) {
    font-size: 2.1rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
  }

  a {
    display: block;
  }
}
