{{- $logo := resources.Get (.Site.Params.logo | default "logos/logo.png") -}}
<footer class="site-footer">
  <div class="container">
    <a class="brand" href="{{ "/" | relURL }}">
      {{- with $logo }}
      {{- $l := .Resize "120x png" }}
      <img src="{{ $l.RelPermalink }}" width="{{ $l.Width }}" height="{{ $l.Height }}" alt="">
      {{- end }}
      <span>{{ .Site.Title }}</span>
    </a>
    {{ partial "menu.html" . }}
    <span class="copy">&copy; {{ now.Format "2006" }} {{ with .Site.Data.contact }}{{ .businessName | default $.Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</span>
  </div>
</footer>
