<div class="header header-absolute">
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}">
        {{- $logo := (resources.Get (default "logos/logo.png" .Site.Params.logo)).Resize "400x q100" -}}
        <img alt="{{ .Site.Title }} Logo" src="{{ $logo.RelPermalink }}" width="{{ $logo.Width }}"
          height="{{ $logo.Height }}">
      </a>
    </div>
    <a href="/#contact" class="btn btn-primary d-block d-sm-none">Contact Us</a>
    {{ partial "main-menu.html" . }}
    {{ partialCached "hamburger.html" . }}
  </div>
</div>
